.thumbnail{
    height:50%;
    width: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.active{
    cursor: pointer;
}

.top-right{
    position: fixed;
    top: 10px;
    right: 10px;
}

.right-border{
    border-right: 2px dashed black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.bottom-right{
    position:fixed;
    right:0;
    bottom:0;
    z-index:1000;
    height:18em;
    width:auto;
}

.blend{
    mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 70%);
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 70%);
}