.thumbnail{
    height:60%;
    width: 60%;
    object-fit: cover;
    border: 1px solid black;
}

.active{
    cursor: pointer;
}

.top-right{
    position: fixed;
    top: 10px;
    right: 10px;
}

.right-border{
    border-right: 2px dashed black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.bottom-right{
    position:fixed;
    right:0;
    bottom:0;
    z-index:1000;
    height:18em;
    width:auto;
}

.bottom-left{
    position:fixed;
    left:0;
    bottom:1em;
    z-index:1000;
    height:18em;
    width:auto;
}

.icon:hover{
    opacity:0.75;
}

.blend{
    mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 70%);
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 70%);
}

.info-table{
    display:flex;
    justify-content:center;
}

header{
    display:flex;
    justify-content:center;
}

body{
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.calendar-columns{
    width:33.33%;
}

/* FORMS */
.forms button {
  all: unset;
  display: inline-block;
  padding: 1.75rem 3.5rem;
  border: 2px solid #000; 
  background-color: #000; 
  color: white; 
  font-size: 1rem; 
  font-weight: 600; 
  text-align: center; 
  border-radius: 50px;
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.forms button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000; 
}

.forms button:focus {
  outline: none; 
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2); 
}

.forms button:active {
  background-color: #333; 
  border-color: #333; 
}
